### Resources and references


### C++ template

# Compiled Object files
Debug/*.o

# Executables
CachingFileSystem
TestModule

### JetBrains template

# User-specific stuff:
.idea/

### Unversioned Files
Debug/mount_dir/
Debug/.swp
Debug/root_dir/filesystem.log
Debug/root_dirfilesystem.log
~/
